<table width="100%">
    <tr width="100%">
        <td width="25%">
            <h2 class="footer-title">Axia</h2>
        </td>
        <td width="25%">
            <h2 class="footer-title">Community</h2>
            <ul>
                <li class="footer-item" *ngFor="let o of communityOptions" >
                    <h5>{{o.name}}</h5>
                </li>
            </ul>
        </td>
        <td width="25%">
            <h2 class="footer-title">Developers</h2>
            <ul>
                <li class="footer-item" *ngFor="let o of developerOptions">
                    <h5>{{o.name}}</h5>
                </li>
            </ul>
        </td>
        <td width="25%">
            <h2 class="footer-title">Legal</h2>
            <ul>
                <li class="footer-item" *ngFor="let o of legalOptions">
                    <h5>{{o.name}}</h5>
                </li>
            </ul>
        </td>
    </tr>
</table>
<h5 class="centered">Axia Foundation 2017</h5>
