/* You can add global styles to this file, and also import other style files */

@font-face { font-family: Code; src: url('assets/CODE Light.otf'); }
@font-face { font-family: Code; font-weight: bold; src: url('assets/CODE Bold.otf');}

body {
    background-color: #FFFFFF;
    color: rgb(48, 52, 52);
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    height: 100%;
    overflow: auto;
}

html {
    overflow: hidden;
    color: white;
    height: 100%;
}

router-outlet {
    height: 100%;
    min-height: 100%;
    padding:100px;
    margin:100px;
}

.centered {
    text-align: center;
}

.code-font {
    font-family: Code;
}
